body {
  text-align: center;
  height: 100%;
}

html {
  height: 100%;
}

footer {
  font-family: 'Cabin';
  background-color: #3a3a3a;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
  font-weight: 700;
}

p {
  font-family: 'Cabin';
}

.container-fluid {
  padding: 7% 15%;
}

.parallax {
  background-image: url("../images/press.jpg");
  height: 100%;
  /* padding: -84% 0 0; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* Sections */
.black-section {
  background-color: #000;
  text-align: center;
  color: #fff;
}

.about-us-section {
  background-color: #000;
}

/* Navigation Bar */
.navbar {
  background-color: #000;
}

.navbar-brand {
  padding: 1% 3%;
}

.nav-item {
  padding: 0;
  font-weight: 300;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu';
}

.navbar-toggler {
  margin: 0 3%;
}

.btn-primary {
  background-color: #81d742;
  border-color: #81d742;
  color: #000;
}

.btn-primary:hover {
  background-color: #93f74a;
  border-color: #93f74a;
  color: #000;
}

/* Title */
#title-content {
  padding: 0;
}

.title {
  position: relative;
}

.press-image {
  width: 100%;
  visibility: hidden;
}

.main-logo {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80%;
}

/* About Us */
.about-us-text {
  color: #fff;
  text-align: center;
  padding: 0 0 1rem;
}

.about-us-image {
  width: 99%;
  max-width: 99%;
}

/* Features */
.feature {
  padding: 0 5% 2rem;
}

.feature-icon {
  padding: 0 0 2rem;
  color: #81d742;
}

/* Testimonials */
.testimonials-section {
  background-color: #3a3a3a;
  color: #fff;
  font-family: 'Cabin';
}

.carousel-item {
  text-align: center;
}

.center-testimonial-text {
  padding: 5% 0;
}

.testimonial-image {
  max-width: 30rem;
}

.user-icon {
  padding: 0 0 2rem;
}

/* Call To Action */
/* Footer */
.footer-icon {
  color: #81d742;
}

@media only screen and (max-width: 768px) {
.parallax {
  visibility: hidden;
}
.press-image {
  visibility: visible;
  z-index: -1;
}
.main-title-logo {
  visibility: visible;
}

}
