
footer{

  font-family: 'Cabin';

}


/* Sections */


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
  background-color: #000;
}

.navbar-brand {
  padding: 0 15px;
}

.nav-item {
  padding: 0 18px;
  font-weight: 300;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu';
}

/* Title */

#title-content {
  padding: 0;
}

.title {
  background-image: url("../images/press.jpg");
  background-size: 100%;
}

.main-logo {
  position: relative;
  left: 10%;
  width: 80%;
}
